# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# aiogram specific files
.aiogram.yaml
aiogram.yaml

# Docker files
Dockerfile
docker-compose.yml

# Logs
.log
logs/
log/

# Virtual environment
venv/
.venv/
env/
.venv

# IDE and editor files
.vscode/
.idea/
*.iml

# Miscellaneous
*.gitignore
*.gitattributes
*.md
*.txt
.env
