aiogram
sqlalchemy
asyncpg
langchain
python-dotenv
ipykernel
sentence-transformers
unstructured
pyautogen
flaml[automl]
langgraph
prettytable
ruff
uvicorn
fastapi
pydantic[email]
motor
langchain_groq
librosa
noisereduce
pydub
opencv-python
moviepy
langid
pycountry
pystate
better_profanity
sentencepiece